@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'Abel';
    src: url('../fonts/abel/Abel-Regular.ttf');
}

@media (max-width: 768px) {
  .banner-img {
    height: 250px;
  }
}

:root {
    --cor-primaria: #196f45;
    --cor-secundaria: #a5283b;
    --cor--terceira: #f6eedb;
}

.cor-primaria{
    color: var(--cor-primaria);
}

.cor-secundaria{
    color: var(--cor-secundaria);
}

.bg-cor-primaria {
    background-color: var(--cor-primaria);
}

.bg-cor-secundaria {
    background-color: var(--cor-secundaria);
}

.bg-cor-terceira {
    background-color: var(--cor--terceira);
}

body {
    font-family: 'Abel', Arial, sans-serif;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

main {
    flex: 1;
}
/* HEADER */

header { /*nesting css | site para ver se o navegardor consegue usar o nesting caniuse.com*/

    .site-search {
        
        .btn {
            right: 10px;
            top: 3px;
            border: none;
            z-index: 9;
            color: var(--cor-secundaria);
        }
    }

    .badge {
        
        top: -1px;
        width: 20px;
        height: 20px ;
        text-align: center;
        padding: 0;
        padding-top: 2px;
    }
}

/* CAROUSEL RESPONSIVO */
.carousel-item {
    overflow: hidden;
}

/* Extra small devices (xs) - up to 576px */
@media (max-width: 575.98px) {
    .carousel-item {
        height: 250px;
    }
}

/* Small devices (sm) - 576px and up */
@media (min-width: 576px) {
    .carousel-item {
        height: 300px;
    }
}

/* Medium devices (md) - 768px and up */
@media (min-width: 768px) {
    .carousel-item {
        height: 400px;
    }
}

/* Large devices (lg) - 992px and up */
@media (min-width: 992px) {
    .carousel-item {
        height: 500px;
    }
}

/* Extra large devices (xl) - 1200px and up */
@media (min-width: 1200px) {
    .carousel-item {
        height: 600px;
    }
}

.logo{
    height: auto;
}

.logo img{
    height: 60px;
    width: auto;
    display: block;
    margin: 0 auto;
}

