@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'Abel';
    src: url('../fonts/abel/Abel-Regular.ttf');
}

:root {
    --cor-primaria: #196f45;
    --cor-secundaria: #a5283b;
    --cor--terceira: #f6eedb;
}

.cor-primaria{
    color: var(--cor-primaria);
}

.cor-secundaria{
    color: var(--cor-secundaria);
}

.bg-cor-primaria {
    background-color: var(--cor-primaria);
}

.bg-cor-secundaria {
    background-color: var(--cor-secundaria);
}

body {
    font-family: 'Abel', Arial, sans-serif;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

main {
    flex: 1;
}
/* HEADER */

header { /*nesting css | site para ver se o navegardor consegue usar o nesting caniuse.com*/

    .site-search {
        
        .btn {
            right: 10px;
            top: 3px;
            border: none;
            z-index: 9;
            color: var(--cor-secundaria);
        }
    }

    .badge {
        
        top: -1px;
        width: 20px;
        height: 20px ;
        text-align: center;
        padding: 0;
        padding-top: 2px;
    }
}

.carousel-item {
    height: 500px;
    overflow: hidden;
}

.logo{
    height: auto;
}

.logo img{
    height: 60px;
    width: auto;
    display: block;
    margin: 0 auto;
}